.headerbar {
    display: flex;
    justify-content: space-between;
    padding: 3px 3px;
    background-color: #191919;
}

.headerbar_logo {
    display: table-cell;
    font-size: 20px;
    color: #cccccc;
    text-decoration: none;
}

.headerbar_user {
    display: table;
    margin: 3px;
}

.headerbar_user li {
    display: table-cell;
}

.headerbar_user li a {
    display: inline-block;
    margin: auto 10px;
    color: #cccccc;
    text-decoration: none;
}

.form {
    text-align: center;
}

.form_item {
    display: block;
    margin: auto;
}