.firstview {
    padding: 10px;
    border-radius: 10px; 
    background-color: #777777;
}

.firstview_on_second {
    padding: 10px;
    border-radius: 10px 10px 0 0; 
    background-color: #777777;
}
.secondview {
    padding: 10px;
    border-radius: 0 0 10px 10px; 
    background-color: #3b3b3b;
}

// top
.instructions img {
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

// sorting
.sorting-img_frame{
    width: 210px;
    height: 210px;
    position: relative;
    border-radius: 10px;
    background-color: #000000;
}
.sorting-img {
    max-height: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    margin: auto;
}


.tag_frame {
    padding: 10px;
    border-radius: 10px; 
    background-color: #626262;
    margin-top: 10px;
}
.tag_frame_second{
    padding: 10px;
    border-radius: 10px; 
    background-color: #181818;
    margin-top: 10px;
}

.sorting_tag {
    display: flex;
    .none-display {
        display: none;
    }
    .testtest {
        background-color: #3b3b3b;
        border-radius: 10px;
        p {
            color: #FFFFFF;
            background-color: #000000;
            border-bottom: 1px solid #cccccc;
            border-radius: 10px 10px 0 0;
            padding: 10px;
        }
        .test {
            margin-top: 5px;
        }
    }
    .characters {
        margin-left: 5px;
    }
}
.testtest::after {
    content: "";
    display: block;
    height: 10px;
}

[id*="tgl"] + label {
    display: block;
    border-left: 10px solid #292929;
    padding: 10px;
    cursor: pointer;
}


[id*="tgl"]:hover + label {
    color: #FFFFFF;
}

[id*="tgl"]:checked + label {
    color: #FFFFFF;
    background: #000000;
    border-left: 10px solid #fd7e00;
}


.btn_prime {
    display: block;
    max-width: 180px;
    border: 2px solid #6a6a6a;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    margin: auto;
    border-radius: 4px;
    transition: .4s;
    background-color: #fd7e00;
}
  .btn_prime:hover {
    background-color: #2c2c2c;
    border-color: #e5e5e5;
    color: #FFFFFF;
}

.btn_second {
    display: block;
    max-width: 180px;
    border: 2px solid #000000;
    font-size: 16px;
    color: #cccccc;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    margin: auto;
    border-radius: 4px;
    transition: .4s;
    background-color: #000080;
}
  .btn_second:hover {
    background-color: #2c2c2c;
    border-color: #e5e5e5;
    color: #FFFFFF;
}
