.form_area {
    width: 400px;
    padding: 10px;
    border-radius: 10px; 
    background-color: #181818;
    border: 1px solid #cccccc;
    margin: 15px auto 0 auto;
}

.form_item {
    display: block
}

.form_item + .form_item {
margin-top: 10px;
}