//show
.name-plate {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: #000000;

}

.viewtest {
    display: flex;
}

.setting-list {
    width:300px;
    list-style: none;
    border: 1px solid #cccccc;
    background: #000000;
    li {
        border: 1px solid #cccccc;
        margin: 5px;
    }
}

.setting {
    width: 100%;
    border: 1px solid #cccccc;
    background: #000000;
}


.form_area {
    width: 400px;
    padding: 10px;
    border-radius: 10px; 
    background-color: #181818;
    border: 1px solid #cccccc;
    margin: 15px auto 0 auto;
}

.form_item {
    display: block
}

.form_item + .form_item {
margin-top: 10px;
}

//images
.user_image-list {
    display: flex;
    img{
        max-height: 200px;
        max-width: 100px;
    }
}
