<% provide(:seracher_type, 'normal') %>
<%= render 'seracher' %>

<div class="quietview">
    <div class="instructions">
    <h1>未完成</h1>
    <p>メモ書き</p>
    <p>一応動きはするけどもファイル名に使用出来ない文字を含めるとバグる( 'ω')</p>
    <p>ネット上の画像ファイルを誰かの変換履歴を利用して自動でファイル整理する</p>
    <p>RT,いいねされ辛いR-18系を別サイトなら拡散するかなって</p>
    <p>テストURL:https://pbs.twimg.com/media/D-5Y18qU0AAPIHA.jpg</p>
    <br>
    <br>
        <h1>使い方</h1>
            <p>ネット上の画像URLをコピーして貼り付ける</p>
            <%= image_tag 'instructions-view.png' %>

        <div class="instructions_next">
            <div class="instructions_ru">
                <p>>誰かの履歴を使って仕分けte</p>
            </div>

            <div class="instructions-te">
                <p>>保存設定をして仕分けru</p>
            </div>
        </div>
    </div>
</div>