<% provide(:seracher_type, 'normal') %>
<%= render 'seracher' %>

<div class="quietview">
    <div class="instructions">
        <h1>使い方</h1>
            <p>ネット上の画像URLをコピーして貼り付ける</p>
            <%= image_tag 'instructions-view.png' %>

        <div class="instructions_next">
            <div class="instructions_ru">
                <p>>誰かの履歴を使って仕分けte</p>
            </div>

            <div class="instructions-te">
                <p>>保存設定をして仕分けru</p>
            </div>
        </div>
    </div>
</div>