<div class="sercher">
    <%= form_with(scope: :image, url: serach_path) do |form| %>
        <%= form.text_field :url %>
        <%= form.submit "URL入力", class: "btn btn_serch" %>
    <% end %>
</div>